.feedback-form{
    display: flex;
    flex-direction: column;
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}
.area{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.email-input{
    max-width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    padding-right: 16px;

}
.message-input{
    max-width: 360px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    margin-bottom: 16px;
}
.button-subm{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4E75FF;
    max-width: 95px;
    color: #fff;
    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;

    border: none;
}
.button-subm:hover{
    background: #6C8CFF;
}